<h1>Sign Up Below:</h1>
<form method="post" action="/registrations">
  <label for="name">User Name</label>
  <input type="text" id="name" name="name">
  <label for="email">User Email</label>
  <input type="text" id="email" name="email">
  <label for="password">User Password</label>
  <input type="text" id="password" name="password">
  <button>Sign Up<input type="submit" value="submit"></button>
</form>

